.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.lines {
  box-sizing: border-box;
  float: left;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.fa,
.fas {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.line-border {
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px 10px 20px;
}

.line-header {
  overflow: hidden;
}

.line-header h3,
.line-header h1 {
  float: left;
  line-height: 24px;
}

.line-header h1 {
  margin-top: 16px;
  margin-left: 20px;
}

.lines a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.trains-header,
.alerts-header {
  overflow: hidden;
  width: 100%;
}

.trains-header h3,
.trains-header .fas,
.alerts-header h3,
.alerts-header .fas {
  float: left;
  margin-right: 20px;
}

.open {
  text-decoration: underline;
}
